@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mettre ici les styles "globaux" */
.div-gradiant {
    background: linear-gradient(89.96deg, #7F8C8D 29.49%, rgba(0, 0, 0, 0.15) 99.97%);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 10%;
    transform: scaleX(0);
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;



}

p,
h4,
h3,
h2,
h1 {
    font-family: 'Lato', sans-serif;
}


.stroke-custom {
    -webkit-text-stroke: 1.5px white;
}

.fake-chevron {
    position: relative;
    left: 30%;
}

.fake-chevron::before {

    content: '</';
}

.fake-chevron::after {
    content: '>';
}

.svg-download:hover {
    fill: black;
}

.btn-ctc {
    transform: rotate(-0.12rad);
}

.btn-cv {
    transform: rotate(0.1rad);
}