@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mettre ici les styles "globaux" */
.div-gradiant {
  background: linear-gradient(89.96deg, #7f8c8d 29.49%, rgba(0, 0, 0, 0.15) 99.97%);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 10%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p,
h4,
h3,
h2,
h1 {
  font-family: "Lato", sans-serif;
}

.stroke-custom {
  -webkit-text-stroke: 1.5px white;
}

.fake-chevron {
  position: relative;
  left: 30%;
}

.fake-chevron::before {
  content: "</";
}

.fake-chevron::after {
  content: ">";
}

.svg-download:hover {
  fill: black;
}

.btn-ctc {
  transform: rotate(-0.12rad);
}

.btn-cv {
  transform: rotate(0.1rad);
}

.mouse {
  width: 38px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 60px;
  position: relative;
}

.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
